@media screen and (max-width: $tablet-width) {

  .column-1 { width: 16.6666666667%; }
  .column-2 { width: 33.3333333333%; }
  .column-3 { width: 50%; }
  .column-4 { width: 66.6666666667%; }
  .column-5 { width: 83.3333333333%; }
  .column-6 { width: 100%; }
  .column-7 { width: 100%; }
  .column-8 { width: 100%; }
  .column-9 { width: 100%; }
  .column-10 { width: 100%; }
  .column-11 { width: 100%; }
  .column-12 { width: 100%; }

  nav {
    margin: 0;
    display: none;
  }
  div.wrapper {
    padding: 0;
    margin: 0;
  }
  header div.menu {
    float: left;
    height: $headerHeight;
    font-size: 1.5em;
    padding-left: 1em;
    margin-right: -1em;
    cursor: pointer;
  }
}

.tablet {
  padding: 0;
  width: 100%;
}
